{% extends "base.html" %} {% block content %}

<h1>Login</h1>

{% if wrongPassword %}
<p>Username or password is wrong!</p>
{% endif %} {% comment %}
<script>
  async function loginUser() {
    let fd = new FormData();
    let token = "{{ csrf_token }}";

    fd.append("username", usernameField.value);
    fd.append("password", passwordField.value);
    fd.append("csrfmiddlewaretoken", token);
    try {
      let response = await fetch("/login/", {
        method: "POST",
        body: fd,
      });

      console.log(response);

      console.log("Success!!");
    } catch (e) {
      console.error("An error occured", e);
    }
  }
</script>
{% endcomment %}

<form method="POST" action="/login/">
  {% csrf_token %}
  <input type="hidden" name="redirect" value="{{ redirect }}" />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      type="text"
      id="usernameField"
      name="username"
    /><label class="mdl-textfield__label" for="usernameField"
      >Username...</label
    >
  </div>
  <br />
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      id="passwordField"
      type="password"
      name="password"
    />
    <label class="mdl-textfield__label" for="passwordField">Password...</label>
  </div>

  <br />
  <div>
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    >
      Login
    </button>
  </div>
</form>

<br />
<p>Not registered yet?<br />Please click <a href="/register/">here</a></p>

{% endblock %}
